body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*
{
  box-sizing: border-box;
}
.app
{
  background-image: url('./images/foodbg.jpg');
  background-size: cover;
  background-position: bottom;
  opacity: 0.6;
  min-height: 100vh;
  padding: 7%;
  padding-top: 3%;
}
.search-box
{
  margin-bottom: 10%;
}
input
{
  margin: auto;
  display: block;
  padding: 15px;
  width: 100%;

  appearance: none;
  background: rgb(212, 228, 233);
 
  outline: none;
  border: solid;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

input:focus
{
  background: rgb(240, 246, 248);
}
.contents
{
  text-align: center;
  background-color: rgb(245, 237, 237);
  padding: 20px;
  max-width: 700px;
  margin: auto;
  border-radius: 7%;
  font-weight: 500;
  font-size: 23px;
  color: red;
}
.list
{
  list-style: none;
  font-size: 23px;
  font-weight: 300;
  text-align: left;
  opacity: 1;
  margin-left: 20%;
  margin-right: 20%;
  color: black;
}
h1
{
  font-size: 40px;
  color: rgb(64, 80, 233);
}